latextool_polygon*
tikzmark*
xargs*
clean_chapters*
extract_exercises*
split_chapters*
build_chaps.py*
__pycache__/
comment.cut
comment.err
comment.out
latex.py
main.aux
main.idx
main.log
main.out
main.py.err
main.py.out
.gitignore~
latextool_basic.py*
latexcircuit.py*
latextool_polygon.py*
main.pytxcode
main.toc